/* .main-content {
    background: #E1EBE4 !important;
}

#wrapper {
    background: #9cada4;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYThjNmVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkZGVmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, #9cada4 0%, #baccc2 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #9cada4), color-stop(100%, #baccc2));
    background: -webkit-linear-gradient(45deg, #9cada4 0%, #baccc2 100%);
    background: -o-linear-gradient(45deg, #9cada4 0%, #baccc2 100%);
    background: -ms-linear-gradient(45deg, #9cada4 0%, #baccc2 100%);
    background: linear-gradient(45deg, #9cada4 0%, #baccc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8c6ee', endColorstr='#baccc2', GradientType=1);
} */

.main-content#resume .inner-content .content .skills .single-skills-wrapper ul .single-skill ul .progress-wrapper {
    border-color: #f0f6fb;
}

.main-content#resume .inner-content .content .skills .single-skills-wrapper ul .single-skill .skill-name {
    padding-right: 40px;
    margin-bottom: 0 !important;
}